<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hokuapps.startvideocall">



    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application >

        <receiver
            android:name=".broadcastReceiver.CallNotificationActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="ConstantApp.CALL_RECEIVE_ACTION" />
                <action android:name="ConstantApp.CALL_CANCEL_ACTION" />
                <action android:name="ConstantApp.CALL_CLICK" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".twilioVideo.VideoSessionActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.Lobby"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>
</manifest>